.movie-detail-container {
  display:flex;
  flex-direction:column;
  width:560px;
  align-items:flex-start;
  justify-content:space-around;
}

.movie-detail-container > div {
  text-align:left;
}


.detail {
  margin-top: 5px;
}
