.top-section {
  display:flex;
  height:10vh;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(50,50,50,1) 45%, rgba(125,125,125,1) 100%);
  position:sticky;
  top:0;
  z-index:5;
}

header,nav {
  display:flex;
  align-items: center;
  width:50%;
  padding:15px;
}

nav {
  justify-content:flex-end;

}

h1 {
  margin: 0px 15px;
}

.rancid-logo {
  height: 50px;
  width: 50px;
}

.rancid-logo:hover {
   animation: shakeImg 0.5s;
   animation-iteration-count: 1;
}

@keyframes shakeImg {
   0% { transform: translate(0px, 0px) rotate(5deg); }
   33% { transform: translate(6px, 0px) rotate(10deg); }
   66% { transform: translate(-6px, 0px) rotate(-10deg); }
   100% { transform: translate(0px, 0px) rotate(-5deg); }
}

.search-bar {
  color:black;
  border-color:red;
  border-radius:50px;
  text-indent: 10px;
  background-color:white;
  width: 170px;
  height:25px;
}

.nav {
  background: red;
  border-radius: 5px;
  font-size:20px;
  font-weight:bold;
  border:0;
  height: 40px;
  width: 100px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-decoration: none;
}

.active {
  visibility:hidden;
}
