.top-section {
  display:flex;
  height:10vh;
  background-color: black;
  position:sticky;
  top:0;
  z-index:5;
}

header,nav {
  display:flex;
  align-items: center;
  width:50%;
  color:white;
  padding:15px;
}

nav {
  justify-content:flex-end;
}

.rancid-logo {
  height: 50px;
  width: 50px;
}
